<header>
<p>
<%= "Edit Submission for Form #{@form_submission.form.name}" %></p>
</header>

<%= render :partial => 'form' %>

<%= link_to raw("&larr; Back to Form"), form_path(@form_submission.form) %>