<div id="googlemap"></div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<script type="text/javascript">	
<!--

// example of use:
// alert(xinspect(document));

//-->
</script>

<br />