<div class = "<%= cycle('odd', 'even') %> item">
	<div class="item-attr">
		<span class="item-attr-title"><%= form_submission_item.form_field.name %> </span>
		<span class="item-attr-val"><%= form_submission_item.form_field_value %></span>
	</div>
</div>	