<div class = "<%= cycle('odd', 'even') %>">
	<div class="person">
		<ul id="<%= person.id %>">
		<span><%= person.name %></span><span>
		<%=
		list_icons(person, [:edit, :delete, :show]) 
		%></span></ul>
</div>

</div>