<header>
  <p>Landing Page</p>
</header>

<%= link_to 'Events', events_path %>
<%= link_to 'Event Types', event_types_path %>
<%= link_to 'Locations', locations_path %>
<%= link_to 'People', people_path %>