


.formtastic input {
   width: inherit; 
/*   border: 1px solid #c9d0d6; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px; 
   font-size: 0.95em; 
   font-family: Helvetica, Arial, sans-serif; 
   outline: none; 
   padding: 8px 10px 7px; */
}

 input[type="text"].loc_data {
   width: inherit; 
/*   border: 1px solid #c9d0d6; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px; 
   font-size: 0.95em; 
   font-family: Helvetica, Arial, sans-serif; 
   outline: none; 
   padding: 8px 10px 7px; */
}

#new_form label {
/*  display: inline;
  padding: .2em .6em .3em;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;*/
  color: inherit;
/*  text-align: inherit;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;*/
}

