<%= stylesheet_link_tag    'fullcal_css',
			  media: 'all',
			  'data-turbolinks-track' => true %>
<%= link_to "new event", new_event_path %>
<%= controller.action_name %>
index
<div id='calendar'></div>
