
<header>
  <p>Payment:

</p>
</header>
	<%= render @payment %>
		<div class="item-subattr">
			<div class="item-subattr-group">
				<span class="item-subattr-title">Assigned Groups</span>
				<%=
				# render @payment.groups
				%>
			</div>
		</div>
<%= link_to raw("Make Payment"), payment_make_payment_path(@payment.id) %>

<%= link_to raw("&larr; Back to Payments"), payments_path %>
