<!-- panel "#{Post Details}" do

table_for assigns[:form].comments do
column :id
column :author
column :body do |comment|
simple_format comment.body
end
end -->



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @form.name %></h3>
  </div>

  <div class="panel-body">
    <table>
      <tr>
        <% @form.form_fields.each do |form_field| %>
          <th><%= form_field.name %></th>
        <% end %>
      </tr>
      <% @form.form_submissions.each do |submission| %>
        <tr>
          <% submission.form_submission_items.each do |item| %>
          <td><%= item.form_field_value %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>