<div class = "<%= cycle('odd', 'even') %>">
	<div class="location">
		<ul id="<%= location.id %>">
		<span><%= location.name %></span><span>
		<%=
		list_icons(location, [:edit, :delete, :show])
		%></span></ul>
</div>

</div>